* {
    font-family: 'PT Serif', serif;
}

#timer {
    font-family: 'PT Serif', serif;
    font-size: 50px;
}

.col-2{
    font-family: 'PT Serif', serif;
    font-size: 50px;


}
.col-4 {
    font-family: 'PT Serif', serif;
    font-size: 50px;

}